langchain-community
langchain-neo4j
langchain-experimental
langchain-openai
langchain-google-genai
langchain-core
python-dotenv
neo4j
neo4j-graphrag
sentence-transformers
fastapi
uvicorn
python-multipart
pydantic